.main {
  position: relative;
  top: 0px;
  left: 10px;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.mam {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.h1c {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}
.form {
  text-align: center;
  margin-left: 8%;
  border: 2px solid;
  padding: 4%;
}
.in{
  width: 100%;
}